<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kateringin"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize"
        tools:targetApi="31" >
        <activity
            android:name=".Controller.Review.ReviewController"
            android:exported="false" />
        <activity
            android:name=".Controller.Helper.StoreController"
            android:exported="false" />
        <activity
            android:name=".Controller.Order.OrderDetailController"
            android:exported="false" />
        <activity
            android:name=".Controller.Helper.PaymentSuccessController"
            android:exported="false" />
        <activity
            android:name=".Controller.Checkout.ChoosePaymentController"
            android:exported="false" />
        <activity
            android:name=".Controller.Checkout.CheckOutLocationEditController"
            android:exported="false" />
        <activity
            android:name=".Controller.Checkout.CheckOutContactEditController"
            android:exported="false" />
        <activity
            android:name=".Controller.Checkout.CheckOutController"
            android:exported="false" />
        <activity
            android:name=".Controller.Helper.MenuDetailController"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Controller.SplashScreen" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Controller.Helper.TermsAndConditionController"
            android:exported="false" />
        <activity
            android:name=".Controller.Helper.FoodResultController"
            android:exported="false" />
        <activity
            android:name=".Controller.Helper.SearchPageController"
            android:exported="false" />
        <activity
            android:name=".Controller.Authentication.ForgotPasswordController"
            android:exported="false" />
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/CustomNeedActionBar" />
        <activity
            android:name=".Controller.User.EditUserController"
            android:exported="false" />
        <activity
            android:name=".Controller.User.UserController"
            android:exported="false" />
        <activity
            android:name=".Controller.Helper.MainScreenController"
            android:exported="false" />
        <activity
            android:name=".Controller.Authentication.AuthRegisterController"
            android:exported="false" />
        <activity
            android:name=".Controller.Authentication.EmailVerificationController"
            android:exported="false" />
        <activity
            android:name=".Controller.Authentication.RegisterController"
            android:exported="false" />
        <activity
            android:name=".Controller.Authentication.LoginController"
            android:exported="false" />
        <activity
            android:name=".Controller.Helper.SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>